.header {
    padding: 15px;
    overflow: auto;
    font-family: "IBM Plex Sans VF", "Helvetica Neue", Arial, sans-serif;
    .logoContainer {
        font-size: 30px;
        font-weight: 700;
        padding: 0 20px;
        float: left;
    }
    .languageSwitcherContainer {
        float: right;
        padding: 0 20px;
    }
}
